@charset "UTF-8";

/* @media screen and (max-width:730px) Landscape mobile*/

.header {
  justify-content: center;
}

.header ul {
  padding-left: 0;
}

.menu {
  margin-right: 0;
} 

.presentacion-marca {
  align-items: center;
}

.titulo, .subtitulo {
  margin-left: 0;
}

.presentacion-marca .boton {
  align-self: center;
  margin-top: 0;
  margin-left: 0;
}

.footer .contenedor {
  flex-direction: column;
  align-items: center;
}

.contenedor-contacto-info {
  align-items: center;
}

.contacto-form form {
  justify-content: center;
}

.contacto-form h2 {
  text-align: center;
  margin-left: 0;
}

@media screen and (max-width: 576px) { /* Portrait mobile */

.header {
  flex-direction: column;
  align-items: center;
}

.logo {
  margin-left: revert; /* why centers the logo?*/
}

.icon {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  stroke-width: 0px;
  stroke: white;
  fill: white;
}

.burger-button {
  display: inline-flex;
  border-radius: 50%;
  background-color: #466577;
  width: 3rem;
  height: 3rem;
  position: absolute;
  top: 5vw;
  left: 5vw;
  cursor: pointer;
  z-index: 3;
}

.icon-menu {
  margin: auto;
}

.menu {
  display: flex;
  width: 100%;
  position: absolute;
  top: 0;
  left: -100%;
  right: 0;
  bottom: 0;
  z-index: 2;
  background-color: #ff3c59a8;
}

.menu ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  align-self: center;
}

.menu li {
  align-self: stretch;
  text-align: center;
  margin-left: 0;
}

.menu li:before {
  display: none;
}

.menu li {
  border-bottom: 1px solid white;
}

.menu li:first-child {
  border-top: 1px solid white;
}

.titulo {
  font-size: 30px;
}

.subtitulo {
  font-size: 13.5px;
}

.contacto-form form {
  flex-direction: column;
  align-items: center;
}

}