/*selector universal*/
* {
}

/*selector de etiqueta*/
body {
  font-family: 'Allerta', sans-serif;
  margin: 10px 0 10px 0;
}

button {
  border-radius: 5px;
  border: none;
  background: #fd324e;
  color: white;
  padding: 7px;
}

/*selector de id*/
#portada {
  background-image: url('../images/background.png');
  color: white;
  padding: 20px;
  margin: 0;
}

/*selector descendente*/
.portada button {
  margin: 15px 0 70px 15px;
}

/*selectores de clase*/
.contenedor {
   width: 800px;
   margin: auto;
}

.logo {
  display: inline-block;
  margin-top: 0;
}

.menu {
  font-size: 24px;
  display: inline-block;
  float: right;
}

.menu li {
  display: inline-block;
  margin-left: 15px;
}

.titulo {
  font-size: 70px;
  font-family: 'Montserrat', sans-serif;
  margin: 70px 0 0 15px;
}

.subtitulo {
  font-size: 24px;
  margin: 0px 0 15px 15px;
}

.titulo-guitarra {
  font-size: 50px;
  margin-top: 0;
  margin-bottom: 10px;
}

.guitarras {
  color: gray;
  margin-top: 20px;
}

.guitarras h2 {
  margin: 20px 20px 20px 0;
}

.guitarra {
  margin: 10px;
  /*overflow: hidden; el sketch tiene overflow*/
  border: 1px solid gray;
  position: relative;
  border-radius: 9px;
}

.guitarra-info-a {
  margin-right: 300px;
  padding: 10px;
}

.guitarra-info-b {
  margin-left: 300px;
  padding: 10px;
}

.img-der {
  /*float:right; reemplazado por position*/
  margin-bottom: 0;
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.img-izq {
  /*float:left;*/
  position: absolute;
  bottom: -50px;
  left: 0px;
}

.guitarras h2 {
  font-size: 35px;
  font-family: 'Montserrat', sans-serif;
}

.footer {
  background: #273B47;
  margin-top: 55px;
  position: relative;
}

.contacto-info {
  display: inline-block;
}

.contacto-info img {
  display: block;
  padding: 25px 0 15px 15px;
}

.contacto-info a {
  display: inline-block;
  text-decoration: none;
  margin: 15px;
  color: white;
}

.contacto-info strong {
  display: block;
}

.contacto-info span {
  display: block;
  margin-top:10px;
}