@charset "UTF-8";

/*selector universal*/
* {
}

/*selector de etiqueta*/
body {
  font-family: 'Allerta', sans-serif;
  margin: 0;
}

.boton {
  border-radius: 9px;
  border: none;
  background: #fd324e;
  color: white;
  padding: 7px;
  font-size: 14px;  
  background: linear-gradient(to left, #FE344E, #FF7250);
}

.boton:hover {
  cursor:pointer;
}

/*selector de id*/
#portada {
  height: 500px;
  color: white;
}

.header {
  padding-top: 20px;
  color: white;
}

.background {
  background-image: url('../images/background.png');
  background-size: cover;
}

/*selector multiclase*/
.portada .boton {
  margin: 15px 0 70px 15px;
  text-decoration: none;
}

/*selectores de clase*/
.contenedor {
   width: 95%;
   max-width: 800px;
   margin: auto;
}

.logo {
  display: inline-block;
  margin-top: 0;
  margin-left: 20px;
}

.menu {
  font-size: 24px;
  display: inline-block;
  float: right;
  margin-right: 10px;
}

/* selector descendente */
.menu li {
  display: inline-block;
  margin-left: 15px;
}

.menu li:before {
  /*content:'\FFEE'. Similar Unicode char*/
  content: '∘';
}

.menu a {
  text-decoration: none;
  color: white;
}

.titulo {
  font-size: 67px;
  font-family: 'Montserrat', sans-serif;
  margin: 70px 0 0 15px;
}

.subtitulo {
  font-size: 24px;
  margin: 0px 0 15px 15px;
}

.titulo-guitarra {
  font-size: 50px;
  margin-top: 0;
  margin-bottom: 10px;
}

.guitarras {
  color: gray;
  margin-top: 20px;
}

.guitarras h2 {
  margin: 20px 20px 20px 0;
}

.guitarra {
  margin: 10px 0;
  /*overflow hidden. El sketch tiene overflow*/
  border: 1px solid gray;
  position: relative;
  border-radius: 9px;
  width: 90%;
}

.guitarra-info {
  padding: 10px;
}

.guitarra-info.a {
  margin-right: 300px;
}

.guitarra-info.b {
  margin-left: 300px;
}

.img-der {
  /*float: right. Reemplazado por position*/
  position: absolute;
  right: 0px;
}

.img-der.overflow {
  bottom: 0px;
}

.img-der.underflow {
  bottom: -50px;
}

.img-izq {
  position: absolute;
  left: 0px;
}

.guitarras h2 {
  font-size: 35px;
  font-family: 'Montserrat', sans-serif;
}

.footer {
  background: #273B47;
  margin-top: 55px;
  font-size: 14px;
}

.footer .contenedor {
  display: flex;
  justify-content: space-between;
}

.contacto-info {
  display: inline-flex;
  flex-direction: column;
}

.contacto-info img {
  display: block;
  padding: 25px 0 15px 15px;
}

.contacto-info a {
  display: inline-block;
  text-decoration: none;
  margin: 15px;
  color: white;
}

.contacto-info strong {
  display: block;
}

.contacto-info span {
  display: block;
  margin-top:10px;
}

.contacto-form {
  color: white;
  width: 500px;
}

.contacto-form form {
  display: flex;
  justify-content: space-between;
}

.contacto-form h2 {
  margin: 30px 0 0 15px;
}

.contacto-fieldset {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 10px;
  border: none;
}

.contacto-fieldset input, textarea {
  margin: 9px 0 9px 0;
}

.contacto-asunto {
  display: flex;
  flex-wrap: wrap;
}

.contacto-asunto input {
  margin: 5px 5px 0 5px;
}

#enviarMensaje {
  align-self: flex-end;
}

